<!-- Using Bootstrap CDN to include Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<!-- My own css -->
<link rel="stylesheet" type="text/css" href="/css/style.css">

<!-- Date picker: https://bootstrap-datepicker.readthedocs.io/en/latest/ -->
<link rel="stylesheet" type="text/css" href="/css/bootstrap-datepicker3.min.css">
<script type="text/javascript" src="/js/bootstrap-datepicker.min.js"></script>

<!-- Clock picker: http://weareoutman.github.io/clockpicker/ -->
<link rel="stylesheet" type="text/css" href="/css/bootstrap-clockpicker.min.css">
<script type="text/javascript" src="/js/bootstrap-clockpicker.min.js"></script>

<!-- Bootbox: http://bootboxjs.com -->
<script src="/js/bootbox.min.js"></script>

<div class="container">
	<div class="row">
		<div class="col-xs-6">
			<button type="button" class="btn btn-default btn-sm" id="back-button">Back</button>
		</div>
		<div class="col-xs-6 text-right">
			<button form="reqForm" type="submit" class="btn btn-primary btn-sm" id="req-button" ng-disabled="reqForm.$invalid">Make Request</button>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<h4>Request Match</h4>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12" id="form-container">
			<!--form id="req-match-form" onsubmit="return false"-->
			<form id="reqForm" name="reqForm" ng-submit="req.submitForm(reqForm.$valid)" novalidate>

				<fieldset class="form-group">
					<label>Singles/Doubles?</label>
					<select class="form-control" id="singles-doubles" name="singles" ng-model="req.singlesDoubles" required>
						<option value="singles">Singles</option>
						<option value="doubles">Doubles</option>
					</select>
					<p ng-show="reqForm.singlesDoubles.$invalid && !reqForm.singlesDoubles.$pristine" class="help-block">Singles/doubles is required</p>
				</fieldset>

				<fieldset class="form-group">
					<label>Date</label>
					<div class="input-group date">
						<input type="text" class="form-control" id="date" name="date" placeholder="Enter date" ng-model="req.date" ng-pattern="req.datePattern" required>
						<span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
					</div>
					<script type="text/javascript">
					$('#form-container .input-group.date').datepicker({
						autoclose: true,
						todayHighlight: true
					});
					</script>
					<p ng-show="reqForm.date.$invalid && !reqForm.date.$pristine" class="help-block">Valid date is required</p>

				</fieldset>

				<fieldset class="form-group">
					<label>Time</label>
					<div class="input-group clockpicker" data-autoclose="true">
						<input type="text" class="form-control" id="time" name="time" placeholder="Enter time" ng-model="req.time" ng-pattern="req.timePattern" required>
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-time"></span>
						</span>
					</div>
					<script type="text/javascript">
					$('.clockpicker').clockpicker();
					</script>
					<p ng-show="reqForm.time.$invalid && !reqForm.time.$pristine" class="help-block">Valid time is required</p>
				</fieldset>

				<fieldset class="form-group">
					<label>Location</label>
					<input id="pac-input" class="form-control" name="location" type="text" placeholder="Enter location" ng-model="req.location" required>
					<p ng-show="reqForm.location.$invalid && !reqForm.location.$pristine" class="help-block">Location is required</p>
				</fieldset>
			</form>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div id="map" style="height:250px;"></div>
		</div>
	</div>

</div>

<script src="/js/req_match.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUsuwqOFhS4JIbW9UQms70I7YngynTyS8&libraries=places&callback=initAutocomplete" async defer></script>
