<!-- Using Bootstrap CDN to include Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<!-- My own css -->
<link rel="stylesheet" type="text/css" href="/css/style.css">

<div class="container" ng-if="!summary.showDashboard">
Please wait...
</div>

<div class="container" ng-if="summary.showDashboard">

	<div class="row">
		<div class="col-xs-6">
			<i><small id="greeting">Welcome {{summary.firstName}}<span ng-show="!summary.emailVerified">. Please verify your email address by visiting the link in your inbox.</span></small></i>
		</div>
		<div class="col-xs-6 text-right">
			<div class="btn-group">
				<button type="button" class="btn btn-primary btn-sm" id="req-button" ng-click="summary.showReqMatch()">Request Match</button>
				<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="caret"></span>
					<span class="sr-only">Toggle Dropdown</span>
				</button>
				<ul class="dropdown-menu pull-right">
					<li><a href="/profile">My Profile</a></li>
					<li ng-click="summary.showAbout()"><a>About/FAQ</a></li>
					<li role="separator" class="divider"></li>
					<li ng-click="summary.logout()"><a>Sign Out</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
		<i><small>Filter pending/available matches:</small></i><br>
		<form role="form">
			<label class="radio-inline">
				<input type="radio" value="singles" ng-model="summary.singlesDoubles" ng-click="summary.filterMatches()">Singles
			</label>
			<label class="radio-inline">
				<input type="radio" value="doubles" ng-model="summary.singlesDoubles" ng-click="summary.filterMatches()">Doubles
			</label>
		</form>
		</div>
		<br>
	</div>

	<div class="row"><div class="col-sm-12">
		<h5><b>Confirmed Matches</b></h5>
		<div class="row match-info conf-match" ng-repeat="match in summary.confirmedMatches" ng-click="summary.showConfMatch(match)">
			<div class="col-sm-4">
				<div>{{match.players}}</div>
			</div>
			<div class="col-sm-4">
				<div>{{match.location}}</div>
			</div>
			<div class="col-sm-4">
				<div>{{match.date}} - {{match.time}}</div>
			</div>
		</div>
		<i ng-if="summary.confirmedMatches.length == 0">none</i>
	</div></div>

	<div class="row"><div class="col-sm-12" id="pend-matches">
		<h5><b>Pending Matches</b></h5>
		<div class="row match-info pend-match" ng-repeat="match in summary.pendingMatchesFiltered" ng-click="summary.showPendMatch(match)">
			<div class="col-sm-4">
				<div>{{match.players}}</div>
			</div>
			<div class="col-sm-4">
				<div>{{match.location}}</div>
			</div>
			<div class="col-sm-4">
				<div>{{match.date}} - {{match.time}}</div>
			</div>
		</div>
		<i ng-if="summary.pendingMatchesFiltered.length == 0">none</i>
	</div></div>

	<div class="row"><div class="col-sm-12">
		<h5><b>Available Matches</b></h5>
		<div class="row match-info conf-match" ng-repeat="match in summary.availableMatchesFiltered" ng-click="summary.showAvailMatch(match)">
			<div class="col-sm-4">
				<div>{{match.players}}</div>
			</div>
			<div class="col-sm-4">
				<div>{{match.location}}</div>
			</div>
			<div class="col-sm-4">
				<div>{{match.date}} - {{match.time}}</div>
			</div>
		</div>
		<i ng-if="summary.availableMatchesFiltered.length == 0">none</i>
	</div></div>

</div>
